body
{
	margin: 0;
	background-color: black;
	padding: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}
h1{
	font-family: impact;
	color:#2DC874;
	text-align: center;
	font-size: 40px;
}
h2{
	font-family: impact;
	color:#2DC874;
	text-align: center;
	font-size: 30px;
}
h3{
	font-family: impact;
	color:#2DC874;
	text-align: center;
}
h4{
	font-family: impact;
}
.sec0 img {
	width: 100%;
	
}
.sec1{
	margin-left: auto;
	margin-right: auto;
	max-width: 1060px;
	position: relative;
	width:100%;
	text-align: center;
	width: auto;
	background-color:black;
	margin-top: 50px;
}
.sec1 div p{	
	color:white;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100%;
	text-align: center;	
}
.sec2 img{
	width: 100%;
	margin-top: 50px;
}

.sec3{
	margin-left: auto;
	margin-right: auto;
	max-width: 1060px;
	position: relative;
	width:100%;
	text-align: center;
	margin-top: 50px;
	background-color:black;
}
.sec4{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	
}
.sec5{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width:100%;
	text-align: center;
	background-color:black;
	margin-top: 50px;
	padding-right: 50%;
	
}
.sec6 img{
	width: 100%;
	margin-top: 50px;
}
.sec7{
	margin-top: 50px;
	display: flex;
}
section.sec7 .llegada{
	margin-left: 15%;
	width: 50%;
	margin-right: 10%;
	margin-top: 8%;
}
section.sec7 img1{
	width: 950px;
	
}
.sec8{
	margin-top: 50px;
	display: flex;
}
section.sec8 .ir{
	margin-left: 15%;
	width: 50%;
	margin-right: 10%;
	margin-top: 8%;
}
section.sec8 img2{
	width: 950px;
}	
p {
	color:white;
}

